:root{
	--accent: #DA70D6;
	--time: linear-gradient(135deg, #5afaea, #f7df3e, #ea5bfc);
	--anim: animate 1.5s linear infinite;
	--timebg: #1b1b1b; 
	--bg: url(images/bg.jpg);
	--hover: purple;
	--game: block;
}

body { 
	margin: 0;
	font-family: 'URW Chancery L', cursive;
	font-size: 40px;
	line-height: 1.6;
	color: #eee;
	background: var(--bg);
	background-repeat: no-repeat; 
	background-position: center;
	background-size: 100%;
}

.settings{
	width: 75px;
	height: 30px;
	display: flex;
	position: fixed;
	bottom: 500px;
	right: 30px;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.pseudo-button img{
	height: 25px;
	width: 25px;
}

.pseudo-button img:hover{
	border-radius: 5px;
	background: var(--accent)
}

.menu a{
	text-decoration: none;
}

.menu li{
	list-style: none;
	color: white;
}

.menu li:hover .sub-menu{
	display: block;
}

.sub-menu li{
	display: flex;
	justify-content: center;
	background: black;
}

.sub-menu li:hover{
	background: var(--hover);
}

.sub-menu{
	display: none;
	position: absolute;
	bottom: -10px;
    right: 12px;
	color: #333333;
	text-decoration: none;
	width: 70px;
	transform: translate(0, 15%)
}

.sub-menu a{
	text-decoration: none;
	color: var(--accent);
	font-size: 15px;
	margin: 0px;
}

.sub-menu a:hover{
	color: var(--second-accent);
}

#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    width: 114%;
    height: 100%;
	z-index: 0;
}

/*table*/

div.table{
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right:0px;
	padding-top:160px;
}

table.tab{
	font-size: 50px;
	border-style: ridge;
	border-color: red green blue yellow;
	border-collapse: collapse;
}

/*links*/

.link{
	margin: 0px;
}

.l_img1{
	position: relative;
	width: 55px;
	margin: 5px;
	border-radius: 50%;
	z-index: 2;
}

.l_img1:hover{
	background: linear-gradient(135deg, #5afaea, #f7df3e, #ea5bfc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 1.5s linear infinite;
}

.l_img2{
	width: 55px;
	margin: 5px;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

.l_img2:hover{
	background: linear-gradient(135deg, #5afaea, #f7df3e, #ea5bfc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 1.5s linear infinite;
}

.l_img3{
	width: 70px;
	margin: 0px;
	padding-right: 10px;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

.l_img3:hover{
	background: linear-gradient(135deg, #5afaea, #f7df3e, #ea5bfc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 1.5s linear infinite;
}

.l_img4{
	width: 55px;
	margin: 0px;
	padding-right:15px;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

.l_img4:hover{
	background: linear-gradient(135deg, #5afaea, #f7df3e, #ea5bfc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 1.5s linear infinite;
}

.l_img5{
	width: 60px;
	margin: 5px;
	border-radius: 50%;
	padding-right: 10px;
	position: relative;
	z-index: 2;
}

.l_img5:hover{
	background: linear-gradient(135deg, #5afaea, #f7df3e, #ea5bfc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 1.5s linear infinite;
}

.l_img6{
	width: 50px;
	margin: 5px;
	padding-right: 10;
	position: relative;
	border-radius: 50%;
	z-index: 2;
}

.l_img6:hover{
	background: linear-gradient(135deg, #5afaea, #f7df3e, #ea5bfc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 1.5s linear infinite;
}

/*audio*/

audio.music{
	position: relative;
	width: 550px;
	height: 40px;
	z-index: 2;
}



div.nerv{
	position: relative;
	bottom: 490px;
	padding-left: 595px;
	padding-right:10px;
	margin:5px;
	z-index: 2;
}

/*panels*/

.link1{
	text-decoration: none;
	color: white;
	font-size: 30px;
	margin-left: 10px;
	transition: color 2.s linear;
}

.link1:hover{
	color: var(--accent);
}

.sideright {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 10px;
	outline: 4px solid var(--accent);
	background-color: #383838;
}

button.sideright_op{
	position: absolute;
	font-size: 20px;
	width: 198px;
	height: 45px;
	border-radius: 30px;
	background: #DA70D6;
	color: white;
	margin-left: 2;
	border: none;
	background: var(--time);
	animation: var(--anim);
}

div.right_links{
	padding-top: 50;
}

.game{
	position: fixed;
	width: 750px;
	height: 500px;
	border: 4px solid #DA70D6;
	margin: auto;
	transform: translate(54%, -87%);
	display: var(--game);
}

.sidetop {
    height: 10%;
    width: 85%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    overflow-x: hidden;
    padding-top: 10px;
	display: grid;
}

div.link__op__left{
	padding-top: 20;
}

.link2{
	text-decoration: none;
	color: white;
	font-size: 30px;
	margin-left: 10px;
	transition: color 2.s linear;
}

.link2:hover{
	color: purple;
}

form {
	position: fixed;
	display: flex;
	padding-top: 6;
	width:600px;
	padding-left: 10;
}
input{
	padding:4px 5px;
	border:0;
	font-size:20px;
}

.search {
	width: 100%;
	margin: 5;
	border-radius: 15px;
	background-color: var(--accent);
}

button.find{
	height: 38px;
	border: none;
	background: var(--accent);
	color: #f2f2f2;
	font-size: 20px;
	border-radius: 25px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

button.find:hover {
	background: #f2f2f2;
	color: var(--accent);
	box-shadow: inset 0 0 0 2px var(--accent);
}

div.wrapper{
	position:relative;
	display: flex;
	margin-left: 900;
	margin-bottom: 10;
	height: 50;
	width: 200;
	background: var(--time);
	border-radius: 15px;
	animation: var(--anim);
}

.wrapper .display,
.wrapper .span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display{
	z-index: 999;
	height: 40;
	width: 190;
	background: var(--timebg);
	border-radius: 15px;
	text-align: center;
}

.display #time{
	line-height: 40px;
	color: white;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	background: var(--time);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: var(--anim);
}

@keyframes animate{
	100%{
		filter: hue-rotate(360deg);
	}
}

.weather{
	position: fixed;
	bottom: 0;
	right: 209px;
}

.weather img{
	border-radius: 10px;
}
